<ul class="flex flex-row justify-center gap-6 sm:gap-4 text-3xl sm:text-xl">
  <li class="text-blue-700 hover:text-blue-400 cursor-pointer">
    <!-- /emailLogin -->
    <button
      type="submit"
      class="border-0 bg-transparent text-primary transititext-primary text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
      data-te-toggle="tooltip"
      title="Email user a login link"
      id="sendEmailbutton"
      data-ind="<%=ind%>"
      data-email="<%= el.email %>"
    >
      <i class="fa-solid fa-paper-plane"></i>
      <!-- <i class="fa-solid fa-rotate-right text-yellow-500 animate-spin"></i>
           <i class="fa-solid fa-check text-green-500"></i>
           <i class="fa-solid fa-xmark text-red-500"></i> -->
    </button>
  </li>

  <% if(el._id.toString() === user._id.toString()) { %>
  <li class="text-gray-600 cursor-default">
    <button>
      <i class=" fa fa-trash-can"></i>
    </button>
  </li>
  <% } else { %>
  <li class="text-blue-700 hover:text-red-400 cursor-pointer">
    <form
      action="/profile/removeProfile/<%= el._id %>?_method=PUT"
      method="POST"
    >
      <button
        type="submit"
        class="border-0 bg-transparent text-primary transititext-primary text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
        data-te-toggle="tooltip"
        title="Removes user from the church"
      >
        <i class="fa fa-trash-can"></i>
      </button>
    </form>
  </li>
  <% } %>

  <li class="text-blue-700 hover:text-blue-400 cursor-pointer">
    <i
      id="<%= el._id %>"
      class="imgC fa fa-id-card border-0 bg-transparent text-primary transititext-primary text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
      data-te-toggle="tooltip"
      title="Show user profile card"
    ></i>
  </li>

  <li class="text-blue-700 hover:text-blue-400 cursor-pointer">
    <a
      href="/profile/user/<%= el._id %>"
      class="border-0 bg-transparent text-primary transititext-primary text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
      data-te-toggle="tooltip"
      title="Edit user profile"
    >
      <i class="fa fa-gear"></i
    ></a>
  </li>

  <li class="text-blue-700 hover:text-blue-400 cursor-pointer">
    <a
      href="tel:<%= el.phoneNumber && el.phoneNumber.replace(/\s/g, '')%>"
      class="border-0 bg-transparent text-primary transititext-primary text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
      data-te-toggle="tooltip"
      title="Call user"
    >
      <i class="fa fa-phone"></i
    ></a>
  </li>
</ul>
