<%- include('partials/head') -%>

<body
  class="flex flex-row justify-center items-center bg-slate-100 dark:bg-slate-800"
>
  <div class="w-full max-w-[500px]">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <a href="/" class="text-center"
        ><i class="fa-solid fa-church fa-3x text-blue-700"></i
      ></a>
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2
          class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-slate-100"
        >
          Build a Church
        </h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
        <div
          class="bg-white dark:bg-slate-400 px-6 py-12 shadow sm:rounded-lg sm:px-12"
        >
          <form
            class="space-y-6"
            action="/buildAChurch/createUser"
            method="POST"
          >
            <div>
              <label
                for="name"
                class="block text-sm font-medium leading-6 text-gray-900 dark:text-slate-100"
                >Church Name</label
              >
              <div class="mt-2">
                <input
                  id="name"
                  name="name"
                  type="name"
                  autocomplete="name"
                  aria-describedby="emailHelp"
                  class="block w-full rounded-md border-0 py-1.5 px-3 dark:bg-slate-200 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:text-sm sm:leading-6"
                  required
                />
              </div>
            </div>

            <div>
              <label
                for="inputEmail"
                class="block text-sm font-medium leading-6 text-gray-900 dark:text-slate-100"
                >Email address</label
              >
              <div class="mt-2">
                <input
                  id="inputEmail"
                  name="email"
                  type="email"
                  autocomplete="email"
                  aria-describedby="emailHelp"
                  class="block w-full rounded-md border-0 py-1.5 dark:bg-slate-200 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:text-sm sm:leading-6"
                  required
                />
              </div>
            </div>

            <div>
              <label
                for="confirmEmail"
                class="block text-sm font-medium leading-6 text-gray-900 dark:text-slate-100"
                >Confirm Email address</label
              >
              <div class="mt-2">
                <input
                  id="confirmEmail"
                  name="confirmEmail"
                  type="email"
                  autocomplete="email"
                  aria-describedby="emailHelp"
                  class="block w-full rounded-md border-0 py-1.5 dark:bg-slate-200 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:text-sm sm:leading-6"
                  required
                />
              </div>
            </div>

            <div>
              <label
                for="inputPassword"
                class="block text-sm font-medium leading-6 text-gray-900 dark:text-slate-100"
                >Password</label
              >
              <div class="mt-2">
                <input
                  id="inputPassword"
                  name="password"
                  type="password"
                  autocomplete="current-password"
                  required
                  class="block w-full rounded-md border-0 py-1.5 dark:bg-slate-200 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:text-sm sm:leading-6"
                  required
                />
              </div>
            </div>

            <div>
              <label
                for="confirmPassword"
                class="block text-sm font-medium leading-6 text-gray-900 dark:text-slate-100"
                >Confirm Password</label
              >
              <div class="mt-2">
                <input
                  id="confirmPassword"
                  name="confirmPassword"
                  type="password"
                  autocomplete="current-password"
                  required
                  class="block w-full rounded-md border-0 py-1.5 dark:bg-slate-200 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:text-sm sm:leading-6"
                  required
                />
              </div>
            </div>

            <!-- Error Messaging -->
            <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
            <div class="text-gray-900 dark:text-slate-100 bg-red-500">
              <%= el.msg %>
            </div>
            <% }) %> <% } %> <% if (locals.messages.info) { %> <%
            messages.info.forEach( el => { %>
            <div class="text-gray-900 dark:text-slate-100 bg-yellow-200">
              <%= el.msg %>
            </div>
            <% }) %> <% } %>

            <input type="hidden" value="true" id="isAdmin" name="isAdmin" />

            <div>
              <button
                type="submit"
                class="flex w-full justify-center rounded-md bg-blue-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700"
              >
                Build a Church
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/darkMode') -%> 
  <%- include('partials/footer') -%>
</body>
