<%- include('partials/head') -%>
<body class="">
  <!-- Page Main Container -->
  <main class="absolute w-full h-full overflow-hidden">
    <!-- Main Inner Container | width changes to show navbar -->
    <div
      id="mainInner"
      class="flex flex-row w-[calc(100%_+_72px)] sm:w-full h-full bg-slate-20 dark:bg-slate-800 ease duration-150"
    >
      <div
        class="flex flex-col w-full h-full p-4 sm:p-8 gap-4 sm:gap-8 grow min-h-0 z-10"
      >
        <!-- Page Heading -->
        <div class="flex flex-row w-full justify-between items-center">
          <div class="flex flex-col">
            <h1
              class="text-2xl font-semibold leading-6 text-gray-900 dark:text-slate-100 whitespace-nowrap"
            >
              <%= user.name %>
            </h1>
            <p
              class="mt-2 text-sm text-gray-700 dark:text-slate-300 whitespace-nowrap"
            >
              Member Directory
            </p>
          </div>

          <div class="hidden sm:block">
            <%- include('partials/addUser', {demo: demo}) -%>
          </div>

          <div class="flex flex-row gap-4 sm:hidden">
            <span
              id="openAddUserButton"
              class="fa-solid fa-user-plus fa-2x text-blue-700 hover:text-blue-500"
            ></span>

            <span
              id="menu"
              class="fa-solid fa-bars fa-2x text-blue-700 hover:text-blue-500"
            ></span>
          </div>
        </div>

        <div class="flex flex-col items-center grow min-h-0 w-full h-full">
          
          <!-- Scrollable Container -->
          <section
            class="overflow-scroll no-scrollbar scroll-smooth w-full flex flex-col grow min-h-0 drop-shadow-xl max-w-[1000px]"
          >
            <ul class="flex flex-col gap-4 w-full">
              <% if (allUsers) { allUsers.forEach( (el, ind) => { %>

              <li
                id="<%=el._id%>"
                class="bg-white dark:bg-slate-700 rounded-xl p-4 w-full"
              >
                <div class="flex flex-col md:flex-row justify-between gap-4 w-full">

                  <!-- Image and User Info -->
                  <div
                    class="flex flex-col xs:flex-row justify-center items-center gap-4"
                  >
                    <div class="h-24 w-24">
                      <img
                        class="border border-slate-300 rounded-lg"
                        src="<%=el.image%>"
                        alt=""
                      />
                    </div>

                    <div class="flex flex-col gap-2 max-w-1/2">
                      <div
                        class="font-medium text-gray-900 dark:text-slate-100"
                      >
                        <%= el.name %>
                      </div>
                      <div class="text-gray-500 dark:text-slate-300">
                        <%= el.email %>
                      </div>
                      <div class="text-gray-500 dark:text-slate-300">
                        <%= el.phoneNumber %>
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <div class="text-sm font-medium self-center">
                    <%- include('partials/dashboardIcons', {el: el, ind:ind})-%>
                  </div>

                  <!-- Indicators -->

                  <div
                    class="flex flex-row md:flex-col lg:flex-row justify-center items-center md:items-end lg:items-center gap-4 md:gap-2 text-gray-500 whitespace-nowrap select-none"
                  >
                    <div class="md:w-full lg:w-auto">
                      <% if (el.txtOk) { %>
                      <span
                        class="block border border-slate-300 bg-green-600 text-gray-800 dark:text-slate-300 px-3 rounded-md"
                        >Text</span
                      >
                      <% }else { %>
                      <span
                        class="block border border-slate-300 bg-transparent text-gray-800 dark:text-slate-300 px-3 rounded-md"
                        >Text</span
                      >
                      <% }%>
                    </div>

                    <div class="md:w-full lg:w-auto">
                      <% if (el.cloudinaryId !== "") { %>
                      <span
                        class="block border border-slate-300 bg-green-600 text-gray-800 dark:text-slate-300 px-3 rounded-md"
                        >Photo</span
                      >
                      <% }else { %>
                      <span
                        class="block border border-slate-300 bg-transparent text-gray-800 dark:text-slate-300 px-3 rounded-md"
                        >Photo</span
                      >
                      <% }%>
                    </div>

                    <div class="md:w-full lg:w-auto">
                      <% if (el.numOfEmailsSent !== 0) { %>
                      <span
                        class="block border border-slate-300 bg-green-600 text-gray-800 dark:text-slate-300 px-3 rounded-md"
                        >Email</span
                      >
                      <% }else { %>
                      <span
                        class="block border border-slate-300 bg-transparent text-gray-800 dark:text-slate-300 px-3 rounded-md"
                        >Email</span
                      >
                      <% }%>
                    </div>
                  </div>
                </div>
              </li>

              <% })} %>
            </ul>
          </section>
        </div>
        <%- include('partials/btmLeftTxt') -%>
      </div>

      <!-- Nav Container -->
      <div id="navCont" class="h-full sm:block ease duration-150 min-w-[72px]">
        <%- include('partials/nav') -%>
      </div>

      <!-- Add User Modal -->
      <div
        id="addUserModalCont"
        class="-translate-y-full ease-in-out duration-150 sm:hidden absolute top-0 flex flex-col items-center bg-gray-900/70 w-full h-full z-50"
      >
        <div
          class="flex flex-row justify-end gap-5 mt-28 bg-slate-300 p-8 rounded-lg mx-5"
        >
          <%- include('partials/addUser', {demo: demo}) -%>
          <span
            id="closeAddUserButton"
            class="fa fa-close fa-2x text-blue-700 hover:text-blue-500 -mr-6 -mt-6"
          ></span>
        </div>
      </div>

      <%- include('partials/profileCardModal') -%>
    </div>
  </main>
  <script type="text/javascript" src="/js/menu.js"></script>
  <script type="text/javascript" src="/js/scrollToErr.js"></script>
  <script type="text/javascript" src="/js/emailSendButton.js"></script>
  <%- include('partials/footer') -%>
</body>
