<%- include('partials/header') -%>
<%- include('partials/btmLeftTxt') -%>
<%- include('partials/darkMode') -%>
<%- include('partials/navBar') -%>

<h1 class="ts ms-2 pt-2"><%=church.name%></h1>

<section class="container-fluid d-flex flex-row justify-content-start align-items-start flex-wrap sectionC">
  <% if (directory) { directory.forEach( el => { %>     
      <img src="<%=el.image%>" alt="Picture of <%=el.name%>" class="img-fluid img-thumbnail rounded-3 shadow-sm m-2 imgC" id="<%=el._id%>">
  <% })} %>
</section>

<%- include('partials/profileCard') -%>
<%- include('partials/footer') -%>
