<%- include('partials/header') -%>
<%- include('partials/btmLeftTxt') -%>
<%- include('partials/darkMode') -%>
<%- include('partials/navBar') -%>

<h1 class="ts ms-2 mt-2"><%= user.church[0] %></h1>

 
  <%- include('partials/footer') -%>