<%- include('partials/header') -%>
<%- include('partials/btmLeftTxt') -%>
<%- include('partials/darkMode') -%>
<%- include('partials/navBar') -%>

<main class="d-flex flex-row-reverse align-items-center justify-content-center ">
  <div class="row justify-content-center">
    <section class="col-10">
          <h1 class="ts">Update Password</h1>
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-info"><%= el.msg %></div>
                <% }) %>    
            <% } %>
      <form action="/updatePassword" method="POST">
        <!-- Existing Password -->
        <label for="existingPassword" class="form-label mb-0">Existing Password</label>
        <input type="password" class="form-control" id="existingPassword" name="existingPassword">
        <!-- Password -->
        <label for="newPassword" class="form-label mt-2 mb-0">New Password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword">
        <!-- Confirm Password -->
        <label for="confirmNewPassword" class="form-label mt-2 mb-0">Confirm Password</label>
        <input type="password" class="form-control mt-0" id="confirmNewPassword" name="confirmNewPassword">
        <button type="submit" class="btn mt-3 btn-primary">Submit</button>
      </form>
    </section>
  </div>
</main>

 
  <%- include('partials/footer') -%>