<%- include('partials/head') -%>
  <body class="relative flex flex-row justify-between bg-slate-20 dark:bg-slate-800 z-10">

    <!-- Page Container -->
    <main class="flex flex-col w-full h-screen overflow-hidden"> 

        <!-- Page Heading -->
      <div class="pl-8 pr-4 mb-4 flex flex-row sm:items-center">
        <div class="flex flex-row items-end mt-8 gap-4 flex-wrap">
          <h1 class="inline text-3xl font-bold text-gray-900 dark:text-slate-100 whitespace-nowrap">Update Password</h1>
          <span class="text-xl font-semibold text-gray-900 dark:text-slate-100 whitespace-nowrap"><%= user.name %></span>
        </div>
      </div>

  
  <!-- Page Section Container -->
  <section class="flex flex-col justify-center items-center h-full w-full">

    <% if(user.isAdmin) { %>
      <form action="/update/password/<%- displayedUser._id -%>?_method=PUT" method="POST">
    <% }else{ %> 
      <form action="/update/password?_method=PUT" method="POST">
    <% } %>
    

    <div class="grid grid-cols-1 grid-rows-1 gap-y-10 border-2 rounded-lg border-gray-400 p-10 w-full sm:w-[500px] self-center">

      <!-- Existing Password -->
        <div class="col-span-full">
          <label for="existingPassword" class="block text-sm font-medium leading-6 text-gray-900 dark:text-slate-100">Existing Password</label>
          <input 
            type="password" 
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:text-sm sm:leading-6 dark:bg-blue-200 rounded-lg" 
            id="existingPassword" 
            name="existingPassword"
          >
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
              <% if (el.type === 'exPass') { %>
                <span class="text-red-500 font-bold w-1/2 self-end"><%= el.msg %></span>
                <% } %>
            <% }) %>    
          <% } %>
        </div>

        

        <!-- Password -->
        <div class="col-span-full">
          <label for="newPassword" class="block text-sm font-medium leading-6 text-gray-900 dark:text-slate-100">New Password</label>
          <input 
            type="password" 
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:text-sm sm:leading-6 dark:bg-blue-200 rounded-lg" 
            id="newPassword" 
            name="newPassword"
          >
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
              <% if (el.type === 'passLength') { %>
                <div class="text-red-500 font-bold w-1/2 self-end"><%= el.msg %></div>
                <% } %>
            <% }) %>    
          <% } %>
        </div>

        <!-- Confirm Password -->
        <div class="col-span-full">
          <label for="confirmNewPassword" class="fblock text-sm font-medium leading-6 text-gray-900 dark:text-slate-100">Confirm New Password</label>
          <input 
            type="password" 
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:text-sm sm:leading-6 dark:bg-blue-200 rounded-lg" 
            id="confirmNewPassword" 
            name="confirmNewPassword"
          >
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
              <% if (el.type === 'passMatch') { %>
                <div class="text-red-500 font-bold w-1/2 self-end"><%= el.msg %></div>
                <% } %>
            <% }) %>    
          <% } %>
      </div>

<!--       
      <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
          <% if (el.type === 'exPass') { %>
            <div class="text-red-500 font-bold w-1/2 self-end"><%= el.msg %></div>
            <% } %>
        <% }) %>    
      <% } %>

      <% if (locals.messages.info) { %>
          <% messages.info.forEach( el => { %>
              <div class="text-red-500 font-bold w-1/2 self-end"><%= el.msg %></div>
          <% }) %>    
      <% } %> -->

      <div class="col-span-full">

        <% if(user.isAdmin) { %>
          <a href="/dashboard" class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-300">Cancel</a>
        <% }else{ %>
          <a href="/directory" class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-300">Cancel</a>
        <% } %>

        <button type="submit" class="rounded-md bg-blue-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700">Update</button>
      </div>

    </div>
  </form>
  </section>

 
  <%- include('partials/btmLeftTxt') -%>
</main>
<%- include('partials/nav') -%>
<%- include('partials/darkMode') -%>
<%- include('partials/footer') -%>