<%- include('partials/header') -%>


<h1 class="ts d-inline-block">Edit Profile</h1>

<main class="d-flex flex-column">


  <section class="d-flex flex-row justify-content-center pe-5 ">

    <div class="colsContainer ">

      <!-- Col 1 -->
      <div class="width">
          <form action="/update/userProfile/<%= displayedUser._id %>?_method=PUT" method="POST"> <!-- enctype="multipart/form-data" -->
          <h3 class="">Name</h3>
          <input type="text" class="form-control" value="<%= displayedUser.name %>" id="name" name="name">
          <h3 class="mt-3">Email</h3>
          <input type="text" class="form-control" value="<%= displayedUser.email %>" id="email" name="email">
          <div class="position-relative">
            <i class="position-absolute bottom-0 start-0 ms-2 mb-2 fa fa-cog fa-2x text-primary" id="imgCog"></i>
            <img class="img-fluid rounded-5" src="<%= displayedUser.image %>" alt="Picture Of <%= displayedUser.name %>">
          </div>
          <% if(user.isAdmin) { %>
            <h3 class="mt-1"><a class="text-decoration-none" href="/update/<%= displayedUser._id %>">Update Password</a></h3>
          <% }else{ %>
            <h3 class="mt-1"><a class="text-decoration-none" href="/update">Update Password</a></h3>
          <% } %>

          <!-- <h3 class="mt-3"><a class="text-decoration-none" href="#">Setup 2FA</a></h3> -->
      </div>

      <!-- Col 2 -->
      <div class="width">
        <h3 class="">Phone Number</h3>
          <div class="mb-3">
            <input type="text" class="form-control" value="<%= displayedUser.phoneNumber %>" id="phoneNumber" name="phoneNumber">
          </div>
          <div class="mb-3 form-check form-switch">
            <label for="txtOk" class="form-label">Text Message Ok?</label>
            <input 
              class="form-check-input" 
              type="checkbox" 
              id="txtOk" 
              name="txtOk" 
              <% if(displayedUser.txtOk == true) {%>checked<%}%>>
          </div> 
          <div class="mb-3">
            <h3>Bio</h3>
            <textarea class="form-control bioForm" id="bioForm" name="bioForm"><%= displayedUser.bio %></textarea>
          </div>
          <div class="mb-3">
            <h3>I can Help with</h3>
            <textarea class="form-control bioForm" id="iCanHelpWith" name="iCanHelpWith"><%= displayedUser.iCanHelpWith.join(', ')%></textarea>
          </div>
      </div>

      <!-- Col 3 -->
      <div class="width position-relative">
        <h3 class="">Mailing Address</h3>
          <div class="mb-3">
              <input type="text" class="form-control"       value="<%= displayedUser.address1 %>"  id="address1" name="address1">
              <input type="text" class="form-control mt-2"  value="<%= displayedUser.address2 %>"  id="address2" name="address2">
              <input type="text" class="form-control mt-2"  value="<%= displayedUser.city %>"      id="City"     name="city">
              <input type="text" class="form-control mt-2"  value="<%= displayedUser.province %>"  id="province" name="province">
              <input type="text" class="form-control mt-2"  value="<%= displayedUser.country %>"   id="country"  name="country">
              <input type="text" class="form-control mt-2"  value="<%= displayedUser.postCode %>"  id="postCode" name="postCode">
          </div>
          <button type="submit" class="position-absolute btn btn-primary col-4 bottom-1 end-0">Update</button>
        </form>
      </div>

    </div>

      
      <!-- Nav Bar Right -->
      <div class="navBarRight d-flex justify-content-center">
        <div class="fa-2x text-primary d-flex flex-column ">
          <% if (user.isAdmin) { %> 
            <a href="/dashboard"><i class="fa fa-cog"></i></a>
            <% } %>
            <a href="/profile/user"><i class="fa-solid fa-user"></i></a>
            <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket mt-3"></i></a>
            <a href="/directory"><i class="fa-regular fa-address-book mt-3"></i></a>
          </div>
        </div>
        
        
  </section>
  
  <!-- Nav Bar Bottom -->
  <section class="navBarBottom d-flex flex-row justify-content-between align-items-center">
    
    <!-- App Name Text -->
    <h2 class=""><a href="/" class="ts">Steeple Peeps</a></h2>
  
  <!-- Darkmode Button -->
    <div class="form-check form-switch">
      <input 
      class="form-check-input cB-custom" 
      type="checkbox" 
      id="darkMode" 
      name="darkMode">
    </div>
  
</section>

<%- include('partials/imageUpload') -%>
<%- include('partials/footer') -%>

</main>
